<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" href="/css/stylehome.css">
	<link rel="shortcut icon" type="image/png" href="/img/logo.jpg">
</head>

<body>
<nav>
	<label class="logo"><a class="logolink" href="/">La Popular</a></label>
	<a href="/"><img class="logo1" src="/img/logo.jpg"></a>
	<ul>
		<li><a href="/admin/new">Iniciar sesion</a></li>
	</ul>
</nav>
<div class="contenedor">
	<div class="item">
		<a href="#" class="ventas-btn">
			Ventas
		</a>
	</div>
	<div class="item">
		<a href="#" class="reportes-btn">
			Reportes
		</a>
	</div>
	<div class="item">
		<a href="/catalogo" class="catalogo-btn">
			Catalogo
		</a>
	</div>
</div>
</body>
</html>
