<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Inicio</title>
	<link rel="stylesheet" href="/css/stylehome.css">
	<link rel="shortcut icon" type="image/png" href="/img/logo.jpg">
</head>

<body>
	<nav>
		<label class="logo">La Popular</label>
		<img class="logo1" src="img/logo.jpg">
		<ul>
			<li><a href="#">Iniciar sesion</a></li>
		</ul>
	</nav>
	<div class="contenedor">
		<div class="item">
			<input class="ventas-btn" type="button" value="Ventas">
		</div>
		<div class="item">
			<input class="reportes-btn" type="button" value="Reportes">	
		</div>
		<div class="item">
			<input class="catalogo-btn" type="button" value="Catalogo">
		</div>
	</div>
</body>
</html>
