<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" href="/css/stylehome.css">
	<link rel="shortcut icon" type="image/png" href="/img/logo.jpg">
</head>

<body>
<nav>
	<label class="logo"><a class="logolink" href="/">La Popular</a></label>
	<a href="/"><img class="logo1" src="/img/logo.jpg"></a>
	<ul>
		<li><a href="/admin/new">Iniciar sesion</a></li>
	</ul>
</nav>
<div class="contenedor">
	<div class="item">
		<input class="ventas-btn" type="button" value="Ventas">
	</div>
	<div class="item">
		<input class="reportes-btn" type="button" value="Reportes">
	</div>
	<div class="item">
		<a href="/admin"></a>
		<input class="catalogo-btn" type="button" value="Catalogo">
	</div>
</div>
</body>
</html>
