<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>La Popular</title>
	<link rel="stylesheet" href="stylemodificar.css">
	<link rel="shortcut icon" type="image/png" href="img/logo.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav>
		<label class="logo">La Popular</label>
		<img class="logo1" src="img/logo.jpg">
		<ul>
			<li><a href="/admin/new">Registrar</a></li>
			<li><a class="active" href="#">Modificar</a></li>
			<li><a href="#">Eliminar</a></li>
			<li><a href="/logout">Cerrar sesion</a></li>
		</ul>
	</nav>
	<div class="contenedor">
		<div class="text">MODIFICAR CALZADO</div>
		<form action="#">
			<div class="form-row">
				<div class="input-data">
					<input type="text" required>
					<div class="underline"></div>
					<label>Modelo</label>
				</div>
				<div class="input-data">
					<input type="text" required>
					<div class="underline"></div>
					<label>Color</label>
				</div>
			</div>
				<div class="form-row">
					<div class="input-data">
						<input type="text" required>
						<div class="underline"></div>
						<label>Talla</label>
					</div>
				<div class="input-data">
					<input type="text" required>
					<div class="underline"></div>
					<label>Cantidad</label>
				</div>
			</div>
				<div class="form-row">
					<div class="input-data">
						<input type="text" required>
						<div class="underline"></div>
						<label>Ubicacion</label>
					</div>
				<div class="input-data">
					<input type="text" required>
					<div class="underline"></div>
					<label>Costo</label>
				</div>
			</div>
				<div class="form-row submit-btn">
					<div class="input-data">
						<div class="inner"></div>
						<input type="submit" value="Modificar">
				</div>
			</div>
			<div class="form-row cancel-btn">
					<div class="input-data">
						<div class="inner"></div>
						<input type="button" value="Cancelar">
				</div>
			</div>
		</form>
	</div>
</body>
</html>
