<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>La Popular</title>
    <link rel="stylesheet" href="/css/stylegerente.css">
    <link rel="stylesheet" href="/css/styletabla.css">
    <link rel="shortcut icon" type="image/png" href="/img/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
    <label class="logo"><a class="logolink" href="/">La Popular</a></label>
    <a href="/"><img class="logo1" src="/img/logo.jpg"></a>
    <ul>
        <li><a href="/">Regresar</a></li>
    </ul>
</nav>
<div class="contenedor">
    <div class="text">Reportes</div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Factura</th>
            <th>Realizo</th>
            <th>Concepto</th>
            <th>Total</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s :${ventas}">
            <td th:text="${s.idVenta}"></td>
            <td th:text="${s.facturaVenta}"></td>
            <td th:text="${s.realizoVenta}"></td>
            <td th:text="${s.conceptoVenta}"></td>
            <td th:text="${s.totalVents}"></td>
            <td th:text="${s.fechaVenta}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>